.section-title {
    position: relative;

    // display: flex;
    // align-items: center;
    // flex-direction: column;
    // justify-content: center;

    width: 100%;

    background: var(--background-url-prop);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding: clamp(1.25rem, -1.3587rem + 13.0435vw, 8.75rem);

    // aspect-ratio: 1/1;
    container-name: section-title;
    container-type: normal;
    
    img {
        position: absolute;
        z-index: -1;
        
        width: 100%;
        height: 100%;
        
        object-fit: cover;
    }
    
    .section-title-text {
        position: relative;
        
        // width: clamp(15.625rem, 10.1902rem + 27.1739cqi, 31.25rem);
        padding: 1rem;
        
        mix-blend-mode: plus-darker;

        text-align: center;

        border-radius: 5px;

        // css.glass */

        background: rgba(255,255,255, 0.15);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

        backdrop-filter: blur(2px);
    }

    p {
        font-weight: 100;
        font-style: italic;
        font-family: var(--serif-font);

        margin-block-start: var(--space-m);
    }
}

@media screen and (min-width: 600px) {
    .section-title {
        position: sticky;
        top: 0;
        left: 0;

        height: 100svh;


        grid-row: main-start / main-end;
        grid-column: title-content;
    }
}
