.articles-wrapper {
    position: relative;

    h4 {
        text-align: center;
    }

    @media(min-width: 1000px) {
        display: grid;
        align-self: center;

        column-gap: var(--space-s);
        row-gap: var(--space-l);
        grid-template-columns: repeat(6, auto);
        grid-template-rows: repeat(6, auto);

        h4 {
            grid-column: 1 / span 6;
        }
    }
}
