@use '@styles/_reset.scss';

html {
    font-family: var(--sans-font);

    color: rgb(var( --primary-color) );
}

.content-wrapper {
    padding: var(--space-s);
    grid-row: content-start / content-end;
    grid-column: data-content;
}
