---
import type { ThankYou } from '@content/types'
import LogoGoldImage from '@assets/logo-gold.svg'
import { Image } from 'astro:assets'

type Props = {
  content: ThankYou
}

const { content } = Astro.props
---
<div class="content-wrapper thank-you">
    {content.content.map(item => <p>{item}</p>)}
    <Image src={LogoGoldImage} alt="Logo" />
</div>


<style lang="scss">
  @forward './main.scss';
</style>
