---
import Hero from '@components/Hero/index.astro'
import { getImage } from 'astro:assets'
import backgroundUrl from '../assets/1.jpg'

// import config from '../content/main.json'
// eslint-disable-next-line antfu/no-top-level-await
const optimizedButtonSpritesheet = await getImage({ src: backgroundUrl, format: 'webp' })
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <section style={`--background-url-prop: url(${optimizedButtonSpritesheet.src});`}>
      <Hero />
    </section>
  </body>
</html>

<style lang="scss" is:global>
  @use '@styles/global.scss';
</style>

<style lang="scss">
  @use '@styles/main.scss';
</style>
