---

---

<div id="qr-code"></div>

<script>
import QRCodeStyling from 'qr-code-styling'
import qr_Options from '../../scripts/qr_options.ts'

const {
  type,
  shape,
  width,
  height,
  data,
  margin,
  qrOptions,
  cornersDotOptions,
  cornersSquareOptions,
  backgroundOptions,
  imageOptions,
  dotsOptions,
} = qr_Options

const qrCode = new QRCodeStyling({
  width,
  height,
  type,
  data,
  margin,
  qrOptions,
  shape,
  image: '/favicon.svg',
  dotsOptions,
  backgroundOptions,
  cornersDotOptions,
  cornersSquareOptions,
  imageOptions,
})

const parent = document.getElementById('qr-code')
if (parent) {
  qrCode.append(parent)
}
</script>
