.articles-wrapper {
    position: relative;

    display: grid;

    justify-items: center;
    grid-template-columns: 1fr;
    column-gap: var(--space-s);
    row-gap: var(--space-l);

    h4 {
        text-align: center;
    }

    address {
        display: flex;
        flex-direction: column;

        text-align: center;

        row-gap: var(--space-2xs);
        justify-self: center;

        .socials {
            font-size: var(--step-3);
            line-height: .8;

            [data-icon] {
                color: var(--clr-primary-accent);
            }

            * {
                display: inline;
            }
        }

        a {
            text-decoration: none;

            color: oklch(from var( --clr-primary) l c h / 0.7);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    @media(min-width: 1000px) {
        align-self: center;
    }
}
