---
import type { SectionItem } from '@content/types'

type Props = {
  content: SectionItem[]
}

const { content } = Astro.props

---

  <div class="content-wrapper numbered-list">
  {content.map((item, i) => (
    <article>
      <h6><span>{i + 1}</span>. {item.title}</h6>
      <ul>
        {item.keys && item.keys.map(key => <li set:html={key} />)}
      </ul>
    </article>
  ))}
</div>

<style lang="scss">
    @forward './main.scss';
  </style>
