---
import type { Section1Item } from '@content/types'
import { Icon } from 'astro-icon/components'

type Props = {
  content: Section1Item
}

const { content } = Astro.props

---

<article>
    {content.icon && <Icon name={`Icons_${content.icon}`} />}
     <h5>{content.title}</h5>
     <p>{content.keys[0]}</p>
</article>

<style lang="scss">
    @forward './main.scss';
  </style>
