.header {
  position: sticky;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;

  min-height: var(--header-min-height);

  color: var(--clr-primary-accent);
  background-color: var(--clr-primary);

  .links {
    font-size: var(--_font-size);
    font-weight: 300;

    position: relative;

    display: flex;
    overflow: hidden;
    align-items: stretch;
    flex-flow: row nowrap;
    justify-content: stretch;

    width: 100%;

    --_font-size: var(--header-font-size);

    button {
      display: grid;
      flex: 1 1 auto;

      padding: var(--_padding);

      transition: all .3s;
      text-align: center;

      // white-space: nowrap;

      text-decoration: none;

      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      place-items: center;
      --line-start: 0;
      --line-width: 300px;
      --_padding: var(--header-item-padding, 0.75rem);

      &:hover {
        color: var(--clr-secondary-accent);
        background: oklch(from var( --clr-primary-accent) l c h / 0.3);
      }
    }

    .line {
      position: absolute;
      bottom: 0;

      height: 4px;

      transition: left 0.3s, right 0.3s 0.1s, opacity 0.2s;
      pointer-events: none;

      opacity: 1;
      background: var(--clr-primary-accent);
    }
  }
}

.menu {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.menu-button-container {
  position: absolute;
  top: 50%;
  right: 0;

  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 30px;
  height: 100%;
  margin-right: var(--space-m);

  cursor: pointer;
  transform: translateY(-50%);

  .menu-button {
    &,
    &::before,
    &::after {
      position: absolute;

      display: block;

      width: 30px;
      height: 4px;

      transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);

      border-radius: 2px;
      background-color: var(--clr-primary-accent);
    }

    &::before {
      margin-top: -8px;

      content: '';
    }

    &::after {
      margin-top: 8px;

      content: '';
    }
  }
}

#menu-toggle {
  display: none;

  &:checked {
    + .menu-button-container {
      .menu-button {
        background: rgba(255, 255, 255, 0);

        &::before {
          margin-top: 0px;

          transform: rotate(405deg);
        }

        &::after {
          margin-top: 0px;

          transform: rotate(-405deg);
        }
      }
    }
  }
}

@media(max-width: 835px) {
  .menu-button-container {
    display: flex;
  }

  .header {
    min-height: var(--space-xl);
    position: fixed;

    .links {
      position: absolute;
      top: 100%;
      left: 0;

      align-items: center;
      flex-flow: column nowrap;
      justify-content: center;

      button {
        display: flex;
        justify-content: center;

        width: 100%;
        margin: 0;
        padding: var(--space-xs) 0;

        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1) , opacity 200ms 100ms;

        border-top: 2px solid var(--clr-primary-accent);
        background-color: var(--clr-primary);
        
        &:hover {
          color: var(--clr-secondary-accent);
          background-color: var(--clr-primary);
        }
      }

      .line {
        transition: top 0.3s, opacity 0.2s;

        opacity: 0;
      }
    }

    #menu-toggle {
      ~ .links {
        button {
          height: 0;
          padding: 0;

          opacity: 0;
          border: 0;
        }

        .line {
          opacity: 0;
        }
      }

      &:checked {
        ~ .links {
          button {
            height: 2.5em;

            opacity: 1;
          }

          .line {
            opacity: 1;
          }
        }
      }
    }
  }
}
