.header {
  position: sticky;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;

  min-height: var(--header-min-height);

  .links {
    font-size: var(--_font-size);
    font-weight: 300;

    position: relative;

    display: flex;
    align-items: stretch;
    flex-flow: row nowrap;
    justify-content: stretch;

    width: 100%;

    color: var(--brand-color);
    background-color: rgb(var( --primary-color) );

    --_font-size: var(--header-font-size);

    a {
      display: grid;

      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      place-items: center;
      text-align: center;

      flex: 1 1 auto;

      padding: var(--_padding);

      transition: all .3s;

      // white-space: nowrap;

      text-decoration: none;

      --line-start: 0;
      --line-width: 300px;
      --_padding: var(--header-item-padding, 0.75rem);

      &:hover {
        color: #adf;
        background: #ffffff06;
      }
    }

    .line {
      position: absolute;
      bottom: 0;

      height: 4px;

      transition: left 0.3s, right 0.3s 0.1s;
      pointer-events: none;

      opacity: 1;
      background: var(--brand-color);
    }
  }
}
