---
import griffinLogo from '@assets/artamonoff-griffin_griffin_black_K.svg'
import { getImage } from 'astro:assets'

type Props = {
  id: string
}

const { id } = Astro.props

 // eslint-disable-next-line antfu/no-top-level-await
 const optimisedGriffinLogo = await getImage({ src: griffinLogo })
---

<section id={id}>
  <div class="griffin-logo-bg" style={`--background-content-image: url(${optimisedGriffinLogo.src});`} />

  <slot name="left-title" />
    <slot />
   <slot name="right-title" />
</section>

<style lang="scss">
  @forward './main.scss';
</style>
