article {
    display: flex;
    align-items: center;
    flex-direction: column;

    grid-column: span 3;
    gap: var(--space-m);
}

[data-icon] {
    position: relative;

    display: inline;

    width: 3.76em;
    height: 3.76em;

    text-align: center;

    color: red;
}
