article {
    display: block;
    text-align: center;

    & > * {
        margin-block-start: var(--space-m);
    }

    [data-icon] {
        position: relative;

        display: inline;

        width: 3.76em;
        height: 3.76em;

        text-align: center;

        color: var( --clr-tertiary-accent);
        // color: oklch(76.52% 0.1852 62.57);
        // color: oklch(76.52% 0.1752 62.57);

        margin-inline-start: 0;
    }

    &.grid-place {
        margin-block-start: var(--space-l);
        margin-block-end: var(--space-xl);
    }

    @media(min-width: 1000px) {
        &.grid-place {
            text-align: left;

            margin-block: 0;
            grid-column: span 3;
            
            & > * {
                margin-block-start: var(--space-xs);
            }

            [data-icon] {
                margin-inline-start: var(--space-l);
            }
        }

        &.grid-place:nth-of-type(1) {
            grid-row: span 1;
        }

        &.grid-place:nth-of-type(2) {
            grid-row: span 2;
        }

        &.grid-place:nth-of-type(3) {
            grid-column: span 3;
            grid-row: span 2;
        }

        &.grid-place:nth-of-type(4) {
            grid-row: span 2;
        }
    }
}
